<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Finance Tracker{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'account_login' %}">Login</a></li>
                <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
